@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.placeholder {
    display: flex;
    background-color: gray;
    padding: 120px 170px;
    align-self: center;
}

.container{
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.header, .header2 {
    display: flex;
    flex: 1;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 295px;
    
}


.header2{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

ul, .subtext{
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.text{
    margin-bottom: 20px;
    width: 450px;
}

.texts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.signup1 {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

h2 {
    text-align: center;
    padding: 20px 0;
}

.information {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.infotext {
    max-width: 150px;
}

img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 570px;
    align-items: center;
}
.bigquote {
    display: flex;
    text-wrap: wrap;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
 
}

.smallquote {
    display: flex;
    font-weight: bold;
    align-self: flex-end;
}

.action {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 120px 370px;
    border-radius: 5px;
    padding: 40px 190px;
    background-color: #3882F6;
}

.container2 {
    display:flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.signup2 {
   border-color: white;
   background-color: #3882F6;
   color: white;
   border-radius: 5px;
   font-weight: bold;
   padding: 5px 30px;
   font-size: 15px;
}

.call {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.signup{
    color: white;
    font-weight: 300;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 20px;
    font-weight: lighter;
}